doctype html 
html 
    head 
        title Cities
        link(rel='stylesheet' type='text/css' href='/style.css')
    body 
        .headerBar 
            p Utopia Smart Pickelball Courts
        .categoryHeader
            p Cities
        .buttonList
            each city in cityList
                button.btn-primary(onclick=`goToCity(${city.cityId})`) #{city.cityName}
        .footerBar
            button.infoButton.btn-secondary(onclick=`window.location.href = '/info'`)
                img.footerImage.infoImage(src='/images/info.png')

        script.
            function goToCity(cityId) {
                window.location.href = `/city/${cityId}`
            }