doctype html 
html 
    head 
        title Info
        link(rel='stylesheet' type='text/css' href='/style.css')
    body 
        .headerBar 
            p Utopia Smart Pickelball Courts
        .categoryHeader
            p Info
        p.infoText This project was completed by Robert Smith, Rylan Hemsley, Brian Hayden, and Maxwell Ostenson sponsored by UTOPIA Fiber as a BYU capstone project. Any questions or issues should be directed to UTOPIA Fiber.
        .footerBar
            button.backButton.btn-secondary(onclick=`history.back()`)
                img.footerImage.backImage(src='/images/back.png')
            button.infoButton.btn-secondary(onclick=`window.location.href = '/info'`)
                img.footerImage.infoImage(src='/images/info.png')